<!DOCTYPE html>
<html>

<body>

    <h2>Sua Benh An</h2>

    <form asp-action="SuaBenhAn" asp-controller="QuanLyBenhAn" method="post">
        <label for="lname">Ma Benh An:</label><br>
        <input type="text" id="lname" name="MaBA" value=""><br>
        <label for="lname">Ma Benh Nhan:</label><br>
        <input type="text" id="lname" name="MaBenhNhan" value=""><br>
        <label for="lname">Ma Bac Si:</label><br>
        <input type="text" id="lname" name="MaBacSi" value=""><br><br>
        <label for="lname">Thong Tin Lam Sang:</label><br>
        <input type="text" id="lname" name="TTLS" value=""><br><br>
        <label for="lname">Thong Tin Can Lam Sang:</label><br>
        <input type="datetime-local" id="lname" name="TTCLS" value=""><br><br>
        <label for="lname">Thong Tin Sau Phau Thuat:</label><br>
        <input type="text" id="lname" name="TTHPT" value=""><br><br>
        <label for="lname">Thong Tin Cham Soc Suc Khoe:</label><br>
        <input type="text" id="lname" name="TDSK" value=""><br><br>
        <input type="submit" value="Submit">
    </form>


</body>

</html>
