<!DOCTYPE html>
<html>

<body>

    <h2>Nhap phieu phau thuat</h2>

    <form asp-action="NhapPhieuPhauThuat" asp-controller="QuanLyPhieuPT" method="post">
        <label for="lname">Ma Benh Nhan:</label><br>
        <input type="text" id="lname" name="MaBenhNhan" value=""><br>
        <label for="lname">Ma Nhan Vien:</label><br>
        <input type="text" id="lname" name="MaNhanVien" value=""><br><br>
        <label for="lname">Ma Cuoc Phau Thuat:</label><br>
        <input type="text" id="lname" name="MaCuocPT" value=""><br><br>
        <label for="lname">Ngay lap phieu phau thuat:</label><br>
        <input type="datetime-local" id="lname" name="NgayLP" value=""><br><br>
        <label for="lname">Tong tien:</label><br>
        <input type="text" id="lname" name="TongTien" value=""><br><br>
        <label for="lname">Tong tien neu huy:</label><br>
        <input type="text" id="lname" name="TongTienH" value=""><br><br>
        <input type="submit" value="Submit">
    </form>


</body>

</html>