<!DOCTYPE html>
<html>

<body>

    <h2>Xoa phieu phau thuat</h2>

    <form asp-action="XoaPhieuPhauThuat" asp-controller="QuanLyPhieuPT" method="post">
        <label for="lname">Ma Phieu Phau Thuat :</label><br>
        <input type="text" id="lname" name="MaPPT" value=""><br>
        <button type="submit">Xoa</button>
    </form>

</body>

</html>
