<!DOCTYPE html>
<html>

<body>

    <h2>Sua phieu theo doi suc khoe</h2>

    <form asp-action="SuaPhieuTheoDoi" asp-controller="PhieuTheoDoiSK" method="post">
        <label for="lname">Ma Phieu Theo Doi:</label><br>
        <input type="text" id="lname" name="MaPTD" value=""><br>
        <label for="lname">Ma Benh Nhan:</label><br>
        <input type="text" id="lname" name="MaBenhNhan" value=""><br>
        <label for="lname">Ma Nhan Vien:</label><br>
        <input type="text" id="lname" name="MaNhanVien" value=""><br><br>
        <label for="lname">Ma Benh An:</label><br>
        <input type="text" id="lname" name="MaBenhAn" value=""><br><br>
        <label for="lname">Ngay lap phieu theo doi:</label><br>
        <input type="text" id="lname" name="NPTD" value=""><br><br>
        <label for="lname">Tong tien:</label><br>
        <input type="text" id="lname" name="TongTienTD" value=""><br><br>
        <label for="lname">Thong tin Thuoc:</label><br>
        <input type="text" id="lname" name="TTThuoc" value=""><br><br>
        <label for="lname">Ngay hen:</label><br>
        <input type="text" id="lname" name="LichTD" value=""><br><br>
        <label for="lname">Ma cuoc phau thuat:</label><br>
        <input type="text" id="lname" name="MaCuocPT" value=""><br><br>
        <input type="submit" value="Submit">
    </form>


</body>

</html>
