<!DOCTYPE html>
<html>

<body>

    <h2>Xoa phieu theo doi suc khoe</h2>

    <form asp-action="NhapPhieuTheoDoi" asp-controller="PhieuTheoDoiSK" method="post">
        <label for="lname">Ma Phieu Theo Doi Suc Khoe :</label><br>
        <input type="text" id="lname" name="MaPTD" value=""><br>
        <button type="submit">Xoa</button>
    </form>

</body>

</html>
